<h1>*******Updates coming soon*******</h1>

<%=image_tag 'TravBig.png' %>
<%=image_tag 'UsBig.png' %>

<div>
	Brandon Myers - The Tech Guy AKA: Bean, Tom, Declan, Mr. I don't know what I'm doing but I know how to do it, Sassy Pants.
</div>
<br>
<div>Kris Bowers - KB, The Jokester</div>
<br>
<div>Travis Miller - Looney Bin</div>