<%=image_tag 'TravBig.png' %>
<%=image_tag 'UsBig.png' %>

<div>
	Brandon Myers - Bean, The Tech Guy AKA: Bean, Tom, Declan, Mr. I don't know what I'm doing but I know how to do it, Sassy Pants.
</div>
<br>
<div>Kris Bowers - KB, KVibe, The Jokester</div>
<br>
<div>Travis Miller - Bill, Looney Bin</div>