<div><h2>If you want to get a hold of us you can:</h2>
	<ul>
		<li><h3>tweet at us at @lifeknocking</h3></li>
		<li><h3>comment on our <%= link_to 'facebook page', 'https://www.facebook.com/lkpod' %></h3> </li>
		<li><h3>or shoot an email to lifeknocking@aol.com</h3></li>
	</ul> 
</div>
