<h1>Sub Sink</h1>
<h3>This is where you can see updates about Brandon's new game <b>"Sub Sink"<b/></h3>
<div>Thanks for all your helped test! The game is now live and available on the google play store and the Apple App Store.</div>
<br>
<div>Go download from the <a href = 'https://play.google.com/store/apps/details?id=org.cocos2dx.SubSink'>Play Store</a> or from the <a href='https://itunes.apple.com/us/app/sub-sink/id972476652?ls=1&mt=8'>App Store</a>. Don't forget to leave a review and tell your friends</div>
<br>
<br>
<%=image_tag 'SubSinkScreenShot.png' %>