<h1>Sub Sink</h1>
<h3>This is where you can see updates about Brandon's new game <b>"Sub Sink"<b/></h3>
<div>*****Update 3/11</div>
<div>The instructions for becoming a beta tester have changed. Scroll down to see the updated instructions.
Thanks for all your help so far testing, I've gotten lots of great feedback and there are more improvements to come.</div>
<br>
<div>The game is still in beta testing and is not available on the app store or the play store. 
See below if you would like to find out how you can help test the game.
</div>
<br>
<div class="row">
	<div class="col-xs-4">
		<%=link_to 'Click here to view the bugs found and submit your own', bugs_path, class: "btn btn-primary" %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-4">
		<%=link_to 'Click here to view the suggestions and submit your own', suggestions_path, class: "btn btn-primary" %>
	</div>
</div>
<br>
<%=image_tag 'SubSinkScreenShot.png' %>

<h2>Instructions to get the game</h2>
<h4>To become a tester, all I need is your email address and which type of phone you have. So to get started, send me a text message with your email and which platform you have (apple or android) or click one of the buttons below to send me an email and I will get you started.

<h3>iPhone/iPad Users</h3>
<div>Test Flight is the service that Apple provides to IOS developers to test their applications. While the game runs on IOS version 6+ Test Flight requires your device is running at least IOS 8. </div>
<br>