<h2><%=@photo.title%></h2>
<div>
	<p><%=@photo.caption%></p>
	<%= image_tag @photo.pic.url(:medium) %>
</div>

<% if can? :edit, current_user %>
	<div>
		<%= link_to 'Edit', edit_photo_path(@photo) %>
	</div>
<% end %>
