<% provide(:title, 'Home') %>
<h1>Bugs</h1>
<div>When submitting a bug, please provide as many details as possible. If you know what you did to make the bug happen, please provide instructions on how to reproduce the bug.</div>
<br>
<div>
	<%= link_to 'New Bug', new_bug_path, class: "btn btn-primary" %>
</div>
<br>
<div class="list-group">
<%for bug in @bugs %>
  <div class="list-group-item">
    <%= link_to(bug) do %>
      <h2 class="list-group-item-heading"> <%= bug.title%> </h2>
    <%end%>
    <p><%=simple_format(bug.description)%></p>
  </div>
<%end%>
</div>