<% provide(:title, 'Home') %>
<% if can? :create, current_user  %>
	<button class="btn btn-primary">
		<%= link_to 'New Post', new_post_path %>
	</button>
<%end%>
<div class="list-group">
<%for post in @posts %>
  <div class="list-group-item">
    <%= link_to(post) do %>
      <h2 class="list-group-item-heading"> <%= post.title%> </h2>
    <%end%>
    <p><%=simple_format(post.content)%></p>
  </div>
<%end%>
</div>