<% provide(:title, 'Home') %>
<h1>Suggestions</h1>
<div>
	<%= link_to 'New Suggestion', new_suggestion_path, class: "btn btn-primary" %>
</div>
<br>
<div class="list-group">
<%for suggestion in @suggestions %>
  <div class="list-group-item">
    <%= link_to(suggestion) do %>
      <h2 class="list-group-item-heading"> <%= suggestion.title%> </h2>
    <%end%>
    <p><%=simple_format(suggestion.description)%></p>
  </div>
<%end%>
</div>