<% provide(:title, 'Podcasts') %>

<h1 class='text-center'>Podcasts</h1>


<% if Rails.env.development?  %>
<%= link_to "Add new Podcast", new_podcast_path %>
<br>
<% end %>

<div class="list-group">
  <%for pod in @pods %>
   <%= link_to(pod) do %>
    <div class="list-group-item">
      <span class="list-group-item-heading"> <%= pod.title%> </span>
      <p class="list-group-item-text"><%=pod.description%></p>
    </div>
    <%end%>
  <%end%>
</div>